:host {
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	align-items:center;
	font-size:12px;
	box-sizing:border-box;
	min-height:24px;
	margin-bottom:5px;
	cursor:default
}
.name {
	margin-left:15px;
	margin-right:10px;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
	color:#aaa
}
.name:hover {
	color:#f90
}
.name.anonymous {
	color:#888
}
:host[focused] .name {
	color:#00a6ff
}
:host[disabled] * {
	pointer-events:none
}
:host[disabled] .name {
	color:#666
}